{% extends 'base.html.twig' %}

{% block title %}Newsletter - Edit {{ newsletter.ReleaseDate|date('d. M. Y') }}{% endblock %}

{% block body %}
<div class='container'>
  <div class="card card-primary">
    <div class="card card-header">Tool Guide</div>
    <div class="panel-body">
      Here you can check all newsletter entries.
      <ul>
        <li>If you have a question regarding an entry, click on the name to send an email.</li>
        <li>Click on "Remove" to delete an Entry.</li>
        <li>As soon as you have corrected the contents of a newsletter, a ✔ will appear to let you know that this entry is checked.</li>
      </ul>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>

   <table class="table table-striped">
    <thead>
      <tr>
        <td><h3>Category</h3></td>
        <td><h3>Organisation</h3></td>
        <td><h3>Title</h3></td>
        <td><h3>Submitter</h3></td>
        <td></td>
        <td></td>
        <td><h3>✔</h3></td>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td>{{ entry.Category }}</td>
          <td><i>{{ entry.studOrg }}</i>: {{ entry.Organisation }}</td>
          <td>{{ entry.Title }}</td>
          <td>
            <a href="mailto:{{ entry.SubmitterEMail }}"{{ entry.Submitter }}>{{ entry.Submitter }}</a>
          </td>
          <td>
            <button class="btn btn-primary float-right" style="margin-right: 10px;" onclick="window.location.href='{{ path('edit_entry', {idstr: newsletter.id ~ "_" ~ entry.id}) }}';">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger float-right" onclick="window.location.href='{{ path('entry_remove', {idstr: newsletter.id ~ "_" ~ entry.id}) }}';">Remove</button>
          </td>
          {% if entry.isChecked %}
            <td>✔</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
