{% extends 'base.html.twig' %}

{% block title %}Hello NewController!{% endblock %}

{% block javascript %}
$('.custom-file-input').on('change', function(event) {
  let inputFile = event.currentTarget;
  $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
{% endblock %}

{% block body %}
<div class="container">
  <div class="card card-primary">
    <div class="card card-header">Tool Guide</div>
    <div class="panel-body">
      <ul>
        <li>Enter the release date for the Newsletter. This is how you can distinguish it from the others.</li>
        <li>Upload the <tt>.tsv</tt> file ("Tab Separated Values") of the newsletter entries. To get this, do the following:
          <ul>
            <li>Open the <tt>Newsletter.xlsx</tt> from Google Drive</li>
            <li>Sort it by Submit Date</li>
            <li>Copy all new entries (without the "Timestamp" header bar) into a new Google Docs Sheet</li>
            <li>Check that every entry uses exactly one line (no line breaks, this will break the tool)</li>
            <li>Download the file as a <tt>.tsv</tt>.</li>
          </ul>
        </li>
        <li>Upload this <tt>.tsv</tt> here.
        <li>The filename is not shown in the upload box, but it still works. I am trying to fix this...</li>
      </ul>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>

    {{ form(form) }}
</div>
{% endblock %}
