{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}

<div class="container">
  <div class="container">
    <div class="card card-primary">
      <div class="card card-header">Tool Guide</div>
      <div class="panel-body">
        <ul>
          <li>Enter all recpiptents of the newsletter and separate them with a semicolon (;). This is typically "mitglieder@lists.vseth.ethz.ch; newsletter-extra@lists.vseth.ethz.ch"</li>
          <li>Press "Send"</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>

  {{ form(form) }}
</div>
{% endblock %}
